{% extends "RevisionLinks/base.html" %}

{% block title %}A-Level {{ subject }} |{% endblock %}
{% block content %}
<img src="/static/img/alevel.svg" alt="" class="page-banner">

<div class="subject-resources">
    <h1 id="subject-title">A-Level {{ subject }}</h1>

    {% if error %}
        <h4 class="error">{{ error }}</h4>
    {% else %}
    <div class="resources">
        {% for resource in resources %}
            <div class="resource">
                <a href="{{ resource.url }}">{{ resource.name }}</a>
                <h2>{{ resource.url }}</h2>
                <p>{{ resource.description }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
