<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} Maximum Revision</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
</head>
<body>
    <h1 id="title"><a href="/">Maximum Revision</a></h1>

    {% block content %}
    {% endblock %}
</body>
</html>
