<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta name="description" content="Maximum Revision contains all of the revision that you will need for GCSE and A-Level revision. We have lists of revision websites, videos and books for your different learning style.">
    <meta name="author" content="Max Ungless">
    <meta name="keywords" content="gcse, a-level, revision, maximum revision">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} Maximum Revision</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
</head>
<body>

    <div id="title"><a href="/">Maximum Revision {% block headertext %}{% endblock %}</a></div>

    {% block content %}
    {% endblock %}
</body>
</html>
