{% extends "RevisionLinks/base.html" %}

{% block title %}Tips |{% endblock %}
{% block headertext %} - Tips{% endblock %}

{% block content %}
<div class="margin">
  <h1>Tips</h1>
  <p>Revision can be strenuous, but nevertheless, it is necessary.</p><p> Generally, the more revision that you do, the better off you are, especially as it approaches exam week and there are many things that you can do which all benefit your grade.</p>
  <ol>
    <li>Make good notes
        <p>Making good notes as soon as you learn new material is extremely positive. Not only will it make your revision quicker and easier, but it will also allow you to internalise everything quicker.</p><p>If one makes bad notes, then the bad notes are internalised, and if bad notes are internalised, then you will recall incorrect information during your exam.</p><p><a href="http://lifehacker.com/back-to-basics-perfect-your-note-taking-techniques-484879924">Have a look at this</a> for help.</p>
    </li>
    <li>Make revision material
        <p>Here, I am specifically talking about making revision cards, however you can apply this to other forms of material such as mind maps or flow charts.</p><p>Revision cards are simply condensed forms of your notes and are put into your own words. This gives you an opportunity to make your notes easier to understand and work with which is much better than having a cluster of quick notes written down quickly during a lesson.</p><p></p>
    </li>
  </ol>
</div>
{% endblock %}
