$gcse-lighter: #FFA342;
$gcse: #F37D00;

$a-level-lighter: #6B43C7;
$a-level: #3B0CA7;


* {
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

body {
    animation-duration: 0.5s;
    transition-timing-function: ease-in;

    animation-name: fadeInRight;
    font-family: Arial, sans-serif;
}

h1#title {
    text-align: center;
    font-size: 300%;
    height: 5vh;

    a {
        text-decoration: none;
        color: rgba(255,255,255,0.9);
        transition: 0.2s;

        &:hover {
            text-decoration: underline;
            transition: 0.3s;
        }
    }

}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    vertical-align: center;

    .exam a {
        width: 20%;
        padding: 5vh;
        margin: 10vw;
        font-size: 2vh;
    }

    .gcse {
        background: $gcse;
        a {
            transition: 0.2s;
            color: rgba(255,255,255, 0.8);
        }

        &:hover {
            a {
                color: lighten($gcse, 100%);
                transition: 0.1s;
            }
            cursor: pointer;
        }
    }

    .alevel {
        background: $a-level;

        a {
            color: rgba(255,255,255,0.8);
            transition: 0.2s;
        }
        &:hover {
            a {
                color: lighten($a-level, 100%);
                transition: 0.1s;
            }
            cursor: pointer;
        }
    }
    .subject {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        width: 20%;
        a {
            color: rgba(255,255,255,0.7);
            height: 5vh;
            padding: 3vh;
            font-size: 2vh;
            transition: 0.2s;
        }
        &:hover {
            cursor: pointer;
            transition: 0.1s;
            box-shadow: 7px 7px 1px rgba(0,0,0,0.3);
            a {
                color: rgba(255,255,255, 1);
            }
        }
    }

    .subject-Green {
        background: #5B9632;
    }

    .subject-Brown {
        background: #AA7539;
    }

    .subject-Red {
        background: #A8383B;
    }

    .subject-Purple {
        background: #522B72;
    }

    .subject-Blue {
        background: #2D4471;
    }

    .subject-Light-Green {
        background: #7A9F35;
    }

    .subject-Magenta {
        background: #832C65;
    }
}

#exam-title {
    font-size: 4em;
    margin: 1em;
    a {
        text-decoration: none;
        color: rgba(255,255,255,0.7);

        &:hover {
            color: rgba(255,255,255,0.9);
            text-decoration: underline;
        }
    }
}

.alevel-block {
    background: $a-level;
    border-bottom: 2vh solid $a-level-lighter;
}

.gcse-block {
    background: $gcse;
    border-bottom: 2vh solid $gcse-lighter;
}

.normal-block {
    background: #273443;
}

.colorBlock {
    width: 100vw;
    height: 20vh;
    top: 0;
    z-index: -2;
    position: absolute;
}

.subject-resources {
    display: flex;
    flex-wrap: wrap;

    .resources {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20vh;

        .resource {
            float: right;
            width: 45%;
            margin: 2.5%;

            h2 {
                color: #1D3D00;
            }
            a {
                font-size: 250%;
                color: #009bff;

                &:hover {
                    color: darken(#009bff, 25%);
                }
            }
            p {
                font-size: 200%;
            }
        }
    }

    .error {
        text-align: center;
        font-size: 200%;
        margin: 20vh auto;
        color: rgba(0,0,0,0.8);
    }

    #subject-title {
        width: 100%;
        color: rgba(255,255,255,0.6);
        display: block;
        margin: 1em;
        font-size: 4em;

        a {
            color: rgba(255,255,255,0.6);
            text-decoration: none;

            &:hover {
                color: rgba(255,255,255,0.9);
                text-decoration: underline;
            }
        }
    }
}

@media all and (min-width: 1000px) {
    .container {
        a {
            padding: 3vh;
            font-size: 1.5vh;
        }
    }
}
