// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway');


// Variables
$main-color: #e8340b;
$secondary-color: #5E3ADB;
$tershiary-color: #EB6D00;

$bp-1: 600px;

// Clearfix
* {
  margin: 0;
  padding: 0;
}

// General styles

h1, h2 {
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Oxygen', sans-serif;
}

p {
  font-size: 15px;
  word-spacing: 0.2em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
  color: $tershiary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Main styles


.error {
  font-family: 'Raleway';
  text-align: center;
  margin: 2.5%;
}

#title {
  min-height: 15%;
  text-align: center;
  padding: 1em;
  background: $main-color;
  background-image: linear-gradient(to top right, $main-color, $tershiary-color);

  a {
    transition: 0.2s;
    color: white;
    font-size: 30px;
    font-weight: bolder;

    &:hover {
      text-shadow: 1px 1px rgba(0,0,0,0.2);
      transition: 0.3s;
    }
  }
}

.container {
  #header {
    margin: 2.5%;

    h1 {
      margin-bottom: 0.5em;
    }

    p {
      width: 70%;

      @media screen and (max-width: $bp-1) {
        width: 100%;
      }
    }
  }

  .subjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .subject {
      max-width: 100%;
      flex-grow: 1;
      min-width: 20%;
      margin: 2.5%;
      text-align: center;
      padding: 1em;
      background: $tershiary-color;
      transition: 0.2s ease-out;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        box-shadow: inset 0 0 2px rgba(black, 0.1);
        flex-grow: 2;
        transition: 0.3s ease-in;
        text-shadow: 1px 1px rgba(0,0,0,0.2);
        transition: 0.3s;
      }

      a {
        color: white;
        font-size: 22px;
      }
    }

    .self-subject {
      background: $secondary-color;
    }
  }


  .resources {
    margin: 2.5%;

    .resource_category {
      margin-top: 5%;
      padding-bottom: 5%;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      p {
        width: 70%;

        @media screen and (max-width: $bp-1) {
          width: 100%;
        }

      }

      .resource {
        margin-top: 2%;

        a {
          font-size: 30px;
        }

        h2 {
          color: green;
          word-wrap: break-word;
        }
      }

      @media screen and (max-width: $bp-1) {
        .resource {
          a {
            font-size: 23px;
          }

          h2 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
